:root {
  --bs-primary: #B26832;
  font-family: 'Poppins', sans-serif;
  color: white;

}

.custom-smaller-font {
  font-size: 8px;
  /* Adjust the font size as per your preference */
}

body {
  background-color: #1a1a1a;
}

.z-index {
  z-index: 2;
}

.heading {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
}

.heading h1 {
  font-size: 4rem;
  font-weight: 600;
}

.heading h2 {
  font-size: 1.2rem;
  font-weight: 200;
  margin: 1rem 0;
}

.spacing {
  margin-top: 5rem;
}

.bg-gold {
  background-color: #8a491a;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.image-section {
  width: 35vw;
  height: 45vh;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}


.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
  border-radius: 20px;
  position: relative;
}

.bg-gold {
  color: #fff;
}

.btn-black {
  color: white;
  font-size: smaller;
  background-color: rgb(22, 25, 23);
}


.title-section {
  position: relative;
  background: url('https://images.unsplash.com/photo-1512453979798-5ea266f8880c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2400&q=80') no-repeat center center;
  /* background: url('/assets/images/header.jpg') no-repeat center center; */
  background-size: cover;
  height: 100vh;
  color: #fff;
}

.title-section .container .row .col {
  background-color: transparent;
}

.section-title::before {
  content: '';
  display: inline-block;
  align-items: center;
  width: 25px;
  height: 3px;
  background-color: #B26832;
  margin-right: 10px;
}

.section-title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 200;

}

.section-title h2 {
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(178, 104, 50, 0.2);
  z-index: 1;
}

.image-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  z-index: 2;
}

.animate-left {
  opacity: 0;
  /* Initially set to invisible */
  transform: translateX(-30px);
  /* Move the element 30px to the left */
  transition: opacity 0.8s ease, transform 0.8s ease;
  /* Smooth transition */
}

.animate-left.animate {
  opacity: 1;
  /* Make it visible */
  transform: translateX(0);
  /* Move it back to its original position */
}



.section-title p {
  text-align: justify;
  width: 30vw;
}

/* Custom styles for the button */
.gold {
  border-color: #B26832;
  color: white;
  font-size: 14px;
}

.goldButton {
  border-color: #B26832;
  color: black;
  font-size: 14px;
}

.goldButton:hover {
  background-color: #B26832;
  color: white;
}

.padding-40 {
  padding-top: 8rem;
  padding-bottom: 40px;
}

/* Optional: You can also change the background color if needed */
.gold:hover {
  background-color: #B26832;
  color: white;
}

.title-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* Adjust the last value (0.4) to control the darkness of the overlay */
}

.custom-height {
  height: 80vh;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container-fluid {
  height: 100%;
  position: relative;
}

.row {
  height: 100%;
}

.image-section {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  /* Adjust opacity as needed */
}

.qna-section {
  padding: 20px;
  overflow-y: auto;
}

.qna-section .card {
  background-color: rgba(0, 0, 0, 0.7);
  /* Adjust opacity as needed */
  margin-bottom: 10px;
}

img {
  width: 100%;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: #0b2239;
}

header .header-left {
  display: flex;
  align-items: center;
}

header .header-left .logo {
  width: 140px;
}

header .header-left nav {
  margin-left: 50px;
}

header .header-left nav ul {
  display: flex;
}

nav ul li a {
  display: block;
  color: #cfd9e0;
  font-size: 18px;
  padding: 5px 10px;
  transition: 0.2s;
}

nav ul li a:hover,
nav ul li a.active {
  color: #fff;
}

nav .login-signup {
  display: none;
}

header .header-right {
  display: flex;
  align-items: center;
}

header .login-signup {
  color: #cfd9e0;
  font-weight: bold;
}

header .login-signup a {
  display: inline-block;
  color: #0b2239;
  background: #4ad295;
  padding: 5px 12px;
  border-radius: 5px;
}

header .header-right .hamburger {
  margin-left: 20px;
  cursor: pointer;
  display: none;
}

header .header-right .hamburger div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #fff;
}

.testimonialContainer {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 20px;
}

.testimonial {
  background-color: #f7f7f7;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin: 10px;
}

.testimonial img {
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
}

.testimonial .name {
  font-weight: bold;
  margin-top: 10px;
}

.testimonial .designation {
  font-style: italic;
  color: #888;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* max-width: 1000px; */
}

.card2 {
  margin: 10px;
  /* background-color: #2f2e2e; */
  border: 1px solid#B26832;
  color: #ffffff;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  overflow: hidden;
  /* width: 20%; */
}

.card-content:hover {
  display: flex;
}

.card2:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

.card-content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
}

.card-content p {
  font-weight: 300;
  font-size: 0.9rem;
}

.card-content img {
  padding: 10px;
}

.card-content h3 {
  width: 8rem;
  font-weight: 500;
}

.card-content p {
  width: 16rem;
  text-align: justify;
  margin-right: 3rem;
}

.card-image {
  width: 40%;
  height: 280px;
}

.emoji {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.QNA-Heading {
  text-align: left;
  width: 80%;
  margin-top: 2rem;
}

.QNA-SubHeading {
  text-align: left;
}


@media only screen and (max-width: 1000px) {
  header {
    padding: 0 20px;
  }

  header .header-right .hamburger {
    display: block;
  }

  header .header-left nav {
    margin: 0;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #0b2239;
    padding: 30px;
    transition: 0.3s;
    text-align: center;
    z-index: -1;
  }

  header .header-left nav.active {
    top: 70px;
  }

  header .header-left nav ul {
    display: block;
  }

  .section-title {
    padding: 0;
  }

  .card-container {
    flex-direction: column-reverse;
    margin-top: 0rem;
    text-align: center;
  }

  .card-reverse {
    flex-direction: column;
    /* flex-direction: column-reverse; */
  }

  .card-container div {
    width: 100%;
  }

  .spacing {
    margin-top: 1rem;
  }


  .image-section {
    width: 100%;
    height: 45vh;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    /* margin: 2rem; */
  }

  .section-title p {
    width: 80%;
  }

  .testimonialContainer {
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: center; */
    margin-top: 20px;
  }

}

@media only screen and (max-width: 500px) {
  nav .login-signup {
    display: block;
    margin-top: 20px;
  }

  header .header-right .login-signup {
    display: none;
  }

  .heading h1 {
    font-size: 3rem;
  }

  .heading h2 {
    font-size: 1rem;
  }

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .QNA-Heading {
    display: none;
    text-align: center;
  }

  .QNA-SubHeading {
    display: none;
    text-align: center;

  }

  .qna-section {
    padding: 0px;
    margin-top: 20px;
  }


}