<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 image-section"
            style="background-image: url('https://source.unsplash.com/featured/?dubai');">
            <div class="overlay"></div>
        </div>
        <div class="col-md-6 qna-section">
            <div class="accordion" id="accordionQNA">
                <div class="accordion-item card">
                    <div class="accordion-header" id="headingOne">
                        <h2 class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Question 1
                        </h2>
                    </div>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionQNA">
                        <div class="accordion-body">
                            Answer 1
                        </div>
                    </div>
                </div>

                <div class="accordion-item card">
                    <div class="accordion-header" id="headingTwo">
                        <h2 class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Question 2
                        </h2>
                    </div>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionQNA">
                        <div class="accordion-body">
                            Answer 2
                        </div>
                    </div>
                </div>
                <div class="accordion-item card">
                    <div class="accordion-header" id="headingThree">
                        <h2 class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            Question 2
                        </h2>
                    </div>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionQNA">
                        <div class="accordion-body">
                            Answer 2
                        </div>
                    </div>
                </div>
                <div class="accordion-item card">
                    <div class="accordion-header" id="headingFour">
                        <h2 class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                            Question 2
                        </h2>
                    </div>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionQNA">
                        <div class="accordion-body">
                            Answer 2
                        </div>
                    </div>
                </div>
                <div class="accordion-item card">
                    <div class="accordion-header" id="headingFive">
                        <h2 class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                            Question 2
                        </h2>
                    </div>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionQNA">
                        <div class="accordion-body">
                            Answer 2
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>