<div class="container">
    <div class="row">
        <div class="section-title p-2 col-2 sm-col-12 d-flex flex-start" style="align-items: start;">
            <h6 style="padding-top: 0.5rem;">Frequently Asked Questions</h6>
            <h2 class="QNA-Heading">Common questions asked about
                our services</h2>
            <p class="QNA-SubHeading">
                Here are some important questions that are frequently asked and the answer to the questions
            </p>
            <div class="d-flex flex-column" style="align-items: start;">
                <h4 style="text-align: left;">Have a different Question?</h4>
                <button class="btn gold" type="submit">Contact us</button>
            </div>
        </div>
        <div class="col-md-6 qna-section">
            <div class="accordion" id="accordionQNA">
                <div class="accordion-item card bg-white">
                    <div class="accordion-header" id="headingOne">
                        <h2 class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            {{ .Params.q1 }}
                        </h2>
                    </div>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionQNA">
                        <div class="accordion-body">
                            {{ .Params.a1 }}
                        </div>
                    </div>
                </div>

                <div class="accordion-item card bg-white">
                    <div class="accordion-header" id="headingTwo">
                        <h2 class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            {{ .Params.q2 }}
                        </h2>
                    </div>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionQNA">
                        <div class="accordion-body">
                            {{ .Params.a2 }}
                        </div>
                    </div>
                </div>
                <div class="accordion-item card bg-white">
                    <div class="accordion-header" id="headingThree">
                        <h2 class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            {{ .Params.q3 }}
                        </h2>
                    </div>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionQNA">
                        <div class="accordion-body">
                            {{ .Params.a3 }}
                        </div>
                    </div>
                </div>
                <div class="accordion-item card bg-white">
                    <div class="accordion-header" id="headingFour">
                        <h2 class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                            {{ .Params.q4 }}
                        </h2>
                    </div>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionQNA">
                        <div class="accordion-body">
                            {{ .Params.a4 }}
                        </div>
                    </div>
                </div>
                <div class="accordion-item card bg-white">
                    <div class="accordion-header" id="headingFive">
                        <h2 class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                            {{ .Params.q5 }}
                        </h2>
                    </div>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionQNA">
                        <div class="accordion-body">
                            {{ .Params.a5 }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>