<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1000px;
    }

    .card2 {
        width: 23%;
        height: 200px;
        margin: 5px;
        background-color: #fff;
        transition: 0.5s;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: height 0.3s;
        overflow: hidden;
    }

    .card2:hover {
        width: 50%;
    }

    .card-header {
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        text-align: center;
        font-weight: bold;
    }

    .card-content {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 18px;
        font-weight: bold;
    }
</style>

<div class="card-container">
    <div class="card2">
        <div class="card-header">Card 1</div>
        <div class="card-content">Information for Card 1</div>
    </div>
    <div class="card2">
        <div class="card-header">Card 2</div>
        <div class="card-content">Information for Card 2</div>
    </div>
    <div class="card2">
        <div class="card-header">Card 3</div>
        <div class="card-content">Information for Card 3</div>
    </div>
    <div class="card2">
        <div class="card-header">Card 4</div>
        <div class="card-content">Information for Card 4</div>
    </div>
</div>