{{ define "main"}}
<div>
    <div class="title-section">
        <div class="container">
            {{- partial "navbar" . -}}
            <div class="row">
                <div
                    class="col d-flex justify-content-center align-items-center flex-column color-white custom-height z-index heading">
                    <h1 class="text-center">{{ .Params.Heading }}</h1>
                    {{ with .Params.subtitle }}
                    <h2 class="text-center">{{ . }}</h2>
                    <button class="btn gold p-2" type="submit">Contact us</button>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col">
                <div class="spacing"></div>
                {{- partial "services" . -}}
                <div class="spacing"></div>
                {{- partial "aboutCard" . -}}
                <div class="spacing"></div>
                {{- partial "aboutCardLeft" . -}}
                <div class="spacing"></div>
                {{ .Content }}
                <div class="spacing"></div>
                {{- partial "testimonials" . -}}
                <div class="spacing"></div>
                {{- partial "qna" . -}}
            </div>
        </div>
    </div>
</div>


{{end}}